body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2e3634;
}
form{
	background-color:hsla(81, 9%, 31%, 0.5);
	
    
}
h2{
	text-align: center;
	
	color: dodgerblue;
}
.l{
	text-align: center;
	color: dodgerblue;
}
*{
     
	box-sizing: border-box;
}
.icontain{

	display:-ms-flexbox;
	display: flex;
	width: 100%;
	margin-bottom: 15px;
}
.icn{
	padding: 10px;
	background-color:dodgerblue;
	text-align: center;
	min-width: 50px;
	border-radius: 7px;
	color:white;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.iclass{
	width: 100%;
	padding: 10px;
	outline: none;
}
.iclass:focus{

border: 2px solid dodgerblue;
}
.al{
	text-align: center;
}

.btn{
	background-color: dodgerblue;
	color: white;
	cursor: pointer;
	opacity: 0.9;
	padding: 15px 20px;
	border-radius: 10px;
}
.btn:hover{
	opacity: 1;
}